/*====================================
SMALL MOBILE
====================================*/

@media (max-width:480px){

    .container{
        width:92%;
    }

    .hero h1{
        font-size:30px;
    }

    .article-hero h1{
        font-size:30px;
        line-height:1.2;
    }

    .article-meta{
        font-size:14px;
    }

    .article-svg,
    .article-inline-image{
        margin:30px auto;
    }

}


